<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<section layout:fragment="content" class="container mt-5">
    <h1 class="mb-4 text-center">Add New Product</h1>
    <form id="addForm" th:action="@{/products/add}" th:object="${product}" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
            <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        </div>
        <div class="mb-3">
            <label for="quantity" class="form-label">Quantity:</label>
            <input type="text" th:field="*{quantity}" class="form-control" id="quantity" required>
            <!-- Thêm phần tử HTML để hiển thị thông báo lỗi -->
            <div id="quantityErrorMessage" class="error-message" style="display: none;">Số lượng phải lớn hơn 0.</div>

        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price:</label>
            <input type="text" th:field="*{price}" class="form-control" id="price" required>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <select th:field="*{category}" class="form-control" id="category">
                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea th:field="*{description}" class="form-control" id="description" required></textarea>
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <input class="form-control" type="file" id="image" name="image" accept="image/png, image/jpeg">
        </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
        <a th:href="@{/products}" class="btn btn-link">Cancel</a>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Lấy thẻ input quantity
    var quantityInput = document.getElementById("quantity");

    // Lấy nút "Add Product"
    var addButton = document.querySelector("button[type=submit]");

    // Thêm sự kiện click cho nút "Add Product"
    addButton.addEventListener("click", function(event) {
        // Lấy giá trị của trường input quantity
        var quantityValue = parseInt(quantityInput.value);

        // Kiểm tra nếu quantity bằng 0
        if (quantityValue <= 0) {
            // Hiển thị thông báo lỗi
            document.getElementById("quantityErrorMessage").style.display = "block";
            // Ngăn chặn việc submit form
            event.preventDefault();
        } else {
            // Nếu quantity không bằng 0, ẩn thông báo lỗi
            document.getElementById("quantityErrorMessage").style.display = "none";
        }
    });
</script>
</body>
</html>
